# Target Config
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_ALL_PROFILES=n
CONFIG_TARGET_PER_DEVICE_ROOTFS=n

# Target Devices
# CONFIG_TARGET_mediatek_filogic_DEVICE_abt_asr3000 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_asus_tuf-ax4200 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_asus_tuf-ax6000 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_bananapi_bpi-r3 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_bananapi_bpi-r3-mini-emmc is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_bananapi_bpi-r3-mini-nand is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_bananapi_bpi-r4 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_bananapi_bpi-r4-poe is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_cetron_ct3003 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_cetron_ct3003-mod is not set
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m-emmc=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m-nand=y
# CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_xr30-nand is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3000-mod is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3000-v1 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_fzs_5gcpe-p3 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-mt2500 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-mt3000 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-mt6000 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-x3000 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_glinet_gl-xe3000 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_h3c_magic-nx30-pro is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_huasifei_wh3000-emmc is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_hf_m7986r1-emmc is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_hf_m7986r1-nand is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_imou_lc-hx3001 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_jcg_q30-pro is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_jdcloud_re-cs-05 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_mediatek_mt7986a-rfb is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_mediatek_mt7986b-rfb is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_mediatek_mt7988a-rfb is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_netcore_n60 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_nokia_ea0326gmp is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_openembed_som7981 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_qihoo_360t7 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_ruijie_rg-x60-pro is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_tenbay_wr3000k is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_tl-xdr4288 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_tl-xdr6086 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_tl-xdr6088 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_tplink_tl-xtr8488 is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-ax3000t is not set
# CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_mi-router-wr30u is not set
CONFIG_TARGET_mediatek_filogic_DEVICE_xiaomi_redmi-router-ax6000=y



